html, body, * {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 563px calc(100vw - 563px);
    gap: 0;
}

div#side-img {
    max-height: 100vh;
    overflow: clip;
}

figcaption {
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

div.logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@font-face {
    font-family: Bulgatti;
    src: url(../fonts/Bulgatti-xgMV.ttf);
}

.txt {
    font-family: Bulgatti;
}

form > p:first-of-type {
    width: 80%;
    margin: 20px auto 0;
}

fieldset {
    margin: 20px 0 10px;
    padding: 40px;
    border-left: none;
    border-right: none;
}

fieldset > p {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

fieldset div *{
    display: block;
}

fieldset > div {
    width: 80%;
    margin: auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, auto);
}


fieldset label {
    margin-top: 20px;
}

fieldset ~ input,
button,
form > p:last-of-type {
    margin-top: 10px;
}

form > P:last-of-type {
    width:auto;

}

button {
    width: 100px;
    height: 40px;
    font-size: medium;
    color: #0F0704;
    background-color: green;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

@media (max-width: 1025px) {
    :root {
        --side-img: 337px;
    }

    div#side-img {
        width: var(--side-img);
        overflow: clip;
    }
    
    image#cafe {
        height: 100vh;
    }

    body {
        grid-template-columns: var(--side-img) calc(100vw - var(--side-img));
    }
}